@import 'mixins';

body {	
  background: #098;
}

a {
  color: #dee;
  &:hover {
    color: #fff;
  }
}

.table {
  margin-bottom: 5px;
}

#header-row {
  padding:5px 0 2px;
  #header-right {
    padding-top: 25px;
    padding-right: 152px;
    text-align:right;
    a {
      padding: 0 5px;
      &.active {
        color: #fff;
        font-weight: 700;
      }
    }
  }
  #danbo {
    position:absolute;
    top:0;
    right:42px;
    z-index:1;
  }
}

#main {
  position:relative;
  z-index:2;
  background: #4cb7ab;
  border:1px solid #076;
  @include borderRadius(5px);
  padding:12px 20px;
  margin-bottom: 50px;
}
