@import 'mixins';

body {	
  background: #098;
}

a {
  color: #dee;
  &:hover {
    color: #fff;
  }
}

#header-row {
  padding:5px 0 2px;
  a.active {
    color: #fff;
    font-weight: 700;
  }
  #logo-wrap {
    float:left;
  }
  #header-left,#header-right {
    padding-top: 25px;
    a {
      margin: 0 5px;
      &.active {
        background:rgba(255,255,255,0.3);
        padding: 4px 8px 5px;
        @include borderRadius(3px);
      }
    }
  }
  #header-left {
    float:left;
    padding-left: 30px;
  }
  #header-right {
    padding-right: 152px;
    text-align:right;
  }
  #danbo {
    position:absolute;
    top:0;
    right:42px;
    z-index:1;
  }
}

#main {
  position:relative;
  z-index:2;
  margin-bottom: 50px;
  a {
    color: #087;
  }
  h2 {
    color: #fff;
    text-shadow: 1px 1px #054;
    font-size: 15px;
    line-height: 15px;
    padding:25px 0 5px;
    text-transform:uppercase;
  }
}

.anime-table {
  border:7px solid rgba(255,255,255, 0.4);
  margin-bottom:0;
  border-collapse:separate;
  @include borderRadius(5px);
  td {
    background:#ccfaf2;
    border-color:#dff;
    border-bottom:1px solid #add;
    line-height: 20px;
  }
  tr:hover {
    td {
      background: #fff;
    }
  }
  td.title {
    width: 30%;
    padding-left: 18px;
    font-size: 16px;
    line-height:40px;
  }
}

td {
  .time-wrap {
    margin-bottom:0;
    color: #777;
    font-size: 15px;
    .time {
      color: #000;
    }
  }
  &.on-air, &.not-airing p {
    font-size: 16px;
    line-height: 40px;
  }
}
