- @title = "Anime schedule"
=link_to 'English', url(:home), :class => I18n.locale == :en ? 'active' : ''
=link_to '日本語', url(:home, 'ja'), :class => I18n.locale == :ja ? 'active' : ''
%table.table
  %thead
    %tr
      %th Title
      %th Previous episode
      %th Next episode
      %th Links
  %tbody
    - @animes.each do |a|
      %tr
        %td= I18n.locale == :en ? a.title_en : a.title_jp
        %td
        %td
        %td=link_to a.mal_id, "http://myanimelist.net/anime/#{a.mal_id}"
