!!! 5
%html{:data => {:debug => ENV["DEBUG"]}}
  %head
    %meta{:charset => "utf-8"}
    %title= [@title, "orzbot"].compact.join(" | ")
    %link{:href => "/assets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/assets/application.js"}
    = yield_content :include
  %body.container-fluid
    .row-fluid#header-row
      .span4#logo-wrap=link_to image_tag("logo.png", :alt => "orzbot"), url(:home)
      .span8
        #header-right=yield_content :header_right
    .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
    #main= yield
