!!! 5
%html{:lang => I18n.locale, :data => {:debug => ENV["DEBUG"]}}
  %head
    %meta{:charset => "utf-8"}
    %meta{:description => "orzbot is a live anime airing schedule."}
    %title= ["orzbot", @title].compact.join(": ")
    %link{:href => "/assets/application.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "/assets/application.js"}
    = yield_content :include
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2259090-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body.container-fluid
    .row-fluid#header-row
      .span4#logo-wrap=link_to image_tag("logo.png", :alt => "orzbot"), url(:home)
      .span8
        #header-right=yield_content :header_right
      #danbo=image_tag("danbo.png", :alt => "danbo")
    .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
    #main= yield
